<%= form_for([@purchase_order, order_item]) do |f| %>

  <div class="form-group">
    <%= f.label :item_title %>
    <%= f.text_field :item_title, class:'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :item_description %>
    <%= f.text_field :item_description, class:'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :item_quantity %>
    <%= f.number_field :item_quantity, step: 'any', class:'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :item_price %>
    <%= f.number_field :item_price, step: 'any', class:'form-control'  %>
  </div>

  <div class="form-group text-center">
    <%= f.submit 'Save',  class: 'btn btn-primary' %>
    <%= link_to 'Cancel', purchase_order_path(@order_item.purchase_order.id),  class: 'btn btn-link' %>
  </div>
<% end %>
